h1 {
  color: #76c893;
  text-shadow: 0 0 0.2rem rgb(163, 207, 42);
}
h2 {
  color: #1a759f;
}
.line {
  width: 0.1rem;
  align-self: stretch;
  background-color: rgb(202, 202, 202);
}
#start-btn {
  background-color: #99d98c;
}
